{% extends 'base.html' %}

{% block content %}
    <form method="post" action="{% url 'create_question' %}">
        {% csrf_token %}
        {{ form.non_fields_errors }}

        {% for field in form %}
            <div class="form-group row mt-3">
                <label class="col-sm-1 col-form-label ml-3">{{ field.label }}</label>
                <div class="col-sm-5">{{ field }}</div>
                <div class="invalid-feedback text-danger">{{ field.errors }}</div>
            </div>
        {% endfor %}

        <div class="form-group row">
            <button type="submit" class="btn btn-outline-success my-sm-0 mx-4 col-1">Ask!</button>
        </div>
    </form>
{% endblock %}