{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                <div class="row">
                    <div class="col">New questions</div>
                </div>
                <div class="row">
                    <div class="col">
                        {% for item in questions %}
                            <div class="card m-2 row">
                                <div class="card-body py-2">
                                    <p>Published {{ item.create_date|timesince }} ago by <b>{{ item.author }}</b></p>
                                    <h5>{{ item.title }}</h5>
                                    <div class="row px-1">
                                        <a class="btn btn-outline-success my-sm-1" href="{{ item.get_absolute_url }}"
                                           role="button">Learn more</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <a class="btn btn-outline-success my-sm-0" href="{% url 'create_question' %}">Ask</a>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row">Trending</div>
                        <div class="col">
                            <div class="row">qwe</div>
                            <div class="row">asd</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% include 'include/_pagination.html' %}
{% endblock %}