{% extends 'base.html' %}
{% block content %}
    <div class="card text-white bg-secondary mb-3 w-75 mt-2 ml-2">
        <div class="card-header"><h4>{{ question.title }}</h4></div>
        <div class="card-body">
            <p>{{ question.text|linebreaksbr }}</p>
        </div>
        <div class="card-footer text-right text-muted">
            Published {{ question.create_date|timesince }} ago by <b>{{ question.author }}</b>
        </div>
    </div>
    {% for answer in question.get_answers %}
        <div class="card text-left w-75 mb-2 ml-2">
            <div class="card-body">
                <p class="card-text">{{ answer.text }}</p>
            </div>
            <div class="card-footer text-right text-muted">
                <p>Published {{ answer.published_date|timesince }} ago by <b>{{ answer.author }}</b></p>
                <form action="{% url 'like-post' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="answer_id" value="{{ answer.id }}">
                    {% if user not in answer.liked.all %}
                        <button class="btn-success" type="submit">Like</button>
                    {% else %}
                        <button class="btn-danger" type="submit">Dislike</button>
                    {% endif %}
                </form>
{#                <strong>{{ answer.num_likes }} likes</strong>#}
            </div>
        </div>
    {% endfor %}
    {% if request.user.is_authenticated %}
        {% include 'app/add_answer.html' %}
    {% endif %}
{% endblock %}