{% extends 'base.html' %}

{% block content %}
    <form method="post" action="{% url 'register' %}">
        <div class="form-col">
            {% csrf_token %}
            {{ form.non_fields_errors }}

            {% for field in form %}
                {% if field.label == 'Avatar' %}
                    <div class="col-md-4 mb-3">
                        <label class="custom-file-label">{{ field.label }}</label>
                        <input type="file" class="custom-file-input" id="validatedCustomFile">
                    </div>
                {% else %}
                    <div class="col-md-4 mb-3">
                        <label>{{ field.label }}</label>
                        {% if field.errors %}
                            <div class="is-invalid ">{{ field }}</div>
                        {% else %}
                            <div class="is-valid">{{ field }}</div>
                        {% endif %}
                        <div class="invalid-feedback">{{ field.errors }}</div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="form-col">
                <button type="submit" class="btn btn-outline-success mx-3 col-1">Register</button>
            </div>
        </div>
    </form>
{% endblock %}