<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"></span>
        <a class="navbar-brand" href="{% url 'index' %}">
            Hasker
        </a>
        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar7">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item mr-3">
                <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'search_question' %}">
                    <label>
                        <input class="form-control mr-sm-2" name="q" type="text" placeholder="Search">
                    </label>
                    <button class="btn btn-outline-success my-sm-0" type="submit">Search</button>
                </form>
            </li>
            {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'accounts:logout' %}" class="nav-link">Log Out</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a href="{% url 'accounts:login' %}?next={{ request.path }}" class="nav-link">Log In</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'accounts:register' %}" class="nav-link">Sign Up</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>